* { box-sizing: border-box }

.filters {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    font-size: 20px;
}

.filter-name {
    display: flex;
    column-gap: 10px;
}

.filter-time {
    display: flex;
    column-gap: 10px;
}

.filters-title {
    display: flex;
    justify-content:  center;
    font-weight: bolder;
    margin-bottom: 30px;
}

.filters-form-container {
    margin-left: 20%;
    margin-right: 20%;
}

.movies-title {
    display: flex;
    justify-content:  center;
    font-weight: bolder;
    margin-top: 10%;
    margin-bottom: 50px;
}

.input-movie-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.runtime-input {
    width: 10%;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.main {
    background-color: bisque;
    border-radius: 5px;
    padding: 50px;
}

.movie-card {
    display: flex;
    padding-bottom: 20px;
    column-gap: 20px;
    width: 70vh;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

.movie-card-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.movie-card-title {
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}

.movie-card-time {
    align-self: flex-end;
    font-weight: bolder;
}

.movie-card-img {
    align-self: center;
}

.movies-not-found-title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.movie-card-description {
    font-size: 20px;
}